p
    label Title
    input(name="title", type="text", value=book.title)
    +error("title")

p
    label Author
    input(name="author", type="text", value=book.author)
    +error("author")

p
    label Genre
    input(name="genre", type="text", value=book.genre)
    +error("genre")

p
    label First Published
    input(name="first_published", type="text", value=book.first_published)
    +error("first_published")

p
    input(type="submit", value=button)
