p
    label Book
    if books !== undefined
        select(name="book_id")
            each book in books
                option(value=book.id) #{book.title}
    else
        input(name="book_title", type="text", value=loan.book_title)
p
    label Patron
    if patrons !== undefined
        select(name="patron_id")
            each patron in patrons
                option(value=patron.id) #{patron.first_name} #{patron.last_name}
    else
        input(name="patron_name", type="text", value=loan.patron_id)
p
    label Loaned on:
    input(name="loaned_on", type="text", value=loan.loaned_on)
    //if errors !== "undefined"
    //    each error in errors
    //        if error.path === "loaned_on"
    //            .error= error.message

p
    label Return by:
    input(name="return_by", type="text", value=loan.return_by)
    //if errors !== "undefined"
    //    each error in errors
    //        if error.path === "return_by"
    //            .error= error.message

    //input(hidden="true", name="returned_on", type="text", value=null)

p
    input(type="submit" value=button)