form
    p
        label First Name
        input(name="first_name", type="text", value=patron.first_name)
    p
        label Last Name
        input(name="last_name", type="text", value=patron.last_name)
    p
        label Address
        input(name="address", type="text", value=patron.address)
    p
        label Email
        input(name="email", type="text", value=patron.email)
    p
        label Library ID
        input(name="library_id", type="text", value=patron.library_id)
    p
        label Zip Code
        input(name="zip_code", type="text", value=patron.zip_code)
    p
        input(type="submit", value="Create New Patron")