extends ../components/layouts/default

block content
    p
        a(href="/loans/new/", class="button") Create New Loan
    table
        thead
            tr
                th Book
                th Patron
                th Loaned On
                th Return By
                th Returned On
                th Action
        tbody
            each loan in loans
                tr
                    td: a(href="/loans/" + loan.id)
                        = loan.Book.title
                    td #{loan.Patron.first_name} #{loan.Patron.last_name}
                    td #{loan.loaned_on}
                    td #{loan.return_by}
                    td #{loan.return_on}
                    td: form(action="/loans/" + loan.id + "?_method=DELETE", method="post"): input(type="submit", value = "Yes, I am")
