extends ../components/layouts/default

block vars
    - var path = "/patrons/"

block content
    p
        a(href="/patrons/new/", ="button") Create New Patron
    table
        thead
            tr
                th Name
                th Address
                th Email
                th Library ID
                th Zip Code
        tbody
            each patron in patrons
                tr
                    td
                        a(href="/patrons/" + patron.id) #{patron.first_name} #{patron.last_name}
                    td #{patron.address}
                    td #{patron.email}
                    td #{patron.library_id}
                    // form(action="/patrons/" + patron.id + "?_method=DELETE", method="post"): input.button(type="submit")
                    td #{patron.zip_code}

